<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="myaws"
	packages="com.frank.myaws">
	<Properties>
		<Property name="log-path">log</Property>
	</Properties>

	<Appenders>

		<RollingFile name="ROLLING_FILE" fileName="${log-path}/myaws.log"
			filePattern="${log-path}/myaws-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d %p %C{1}.%M [%t] %m %ex%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>

	<Loggers>

		<Root level="${logging.level}">
			<AppenderRef ref="ROLLING_FILE" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>